
<div class="container">

    <div class="row">
		<div class="col-lg-2 align-right" style="text-align:right;"> <span style="font-size:18px;font-weight: bold;">Employee View</span></div>
		<div class="col-lg-10" style="display: inline"><a routerLink="/employee_search" routerLinkActive="active">Return to Search</a></div>
    </div>
	<p>
    <div class="row">
		<div class="col-lg-2 align-right" >ID:</div>
		<div class="col-lg-10" >{{employee.id}}</div>
    </div>
	<p>
    <div class="row">
		<div class="col-lg-2 align-right" >Name:</div>
		<div class="col-lg-10" >{{employee.name}}</div>
    </div>
	<p>
    <div class="row">
		<div class="col-lg-2 align-right" >Age:</div>
		<div class="col-lg-10" >{{employee.age}}</div>
    </div>
	<p>
    <div class="row">
		<div class="col-lg-2 align-right" >Salary:</div>
		<div class="col-lg-10" >{{employee.salary}}</div>
    </div> 
	<p>
    <div class="row">
		<div class="col-lg-2 align-right" >Hire Date:</div>
		<div class="col-lg-10" >{{employee.hireDate}}</div>
    </div>       
	<p>
    <div class="row">
		<div class="col-lg-2 align-right" >Employee Type:</div>
		<div class="col-lg-10" >{{employee.employeeType}}</div>
    </div>    
     
</div>
